# **CCi Data Analyst Assessment**

# **Part 1: Data Querying**

Assessment completed by Mlungiseleli Notshokovu

In [110]:
import pandas as pd
import datetime
import numpy as np

In [111]:
df = pd.read_csv('maturity_assessments_dataset.csv')

In [112]:
df.head()

     client    site country tracc_practice assessment_date  tracc_maturity
0  Client 1  Site 1  Canada             5S       3/10/2016            1.35
1  Client 1  Site 1  Canada             5S       3/15/2016            1.27
2  Client 1  Site 1  Canada             5S       3/18/2016            1.38
3  Client 1  Site 1  Canada             5S       3/25/2016            2.38
4  Client 1  Site 1  Canada             5S       3/29/2016            1.45

**1. Which client has conducted the most assessments in total?**

To first check if the involved columns have any null values. Then proceed to create a function that will go through all the clients and count the assessments conducted by using the 'assessment_date' column.

In [113]:
client_list = df['client'].to_list() # Creating a list of all values on 'client' column

In [114]:
df['assessment_date'].isnull().values.any() # Checking if the 'assessment_date' column has null values. False if the is no null

False

In [115]:
# The function takes in a list of all the client in no specific order or duplicate. It then creates a dictionary counting the number of assessments for each client. 
# Finally, it returns the client with the most assessments conducted.

def client_assessment_total(client_list):
  client_dict = {}
  #This creates a dictionary of clients with the number of assessments they have conducted.
  for client in client_list:
    if client in client_dict:
      client_dict[client] += 1
    else:
      client_dict[client] = 1
  max_value = max(zip(client_dict.values(), client_dict.keys()))[1] #Goes through the values in the dictionary and looks for the client with the highest assessments conducted.
  return 'Answer: {} with {} assessments'.format(max_value, client_dict[max_value])

In [116]:
client_assessment_total(client_list)

'Answer: Client 3 with 1592 assessments'

**2. Across how many countries are our clients assessing TRACC practices?**

Add the all countries to a list and use the set() method to get distinct country values. Once that's done, get the lenght/size of the distinct country values.

In [117]:
df['country'].isnull().values.any() # Checking if the country field has any null values. False means no null values.

False

In [118]:
df['tracc_practice'].isnull().values.any()# Checking if the tracc_practice field has any null values. False means no null values.

False

In [119]:
country_list = df['country'].to_list() # To convert the country column to a list. This gives a list of all the countries, even duplicates.
country_set = set(country_list) # To convert the country list to a set. This will helps to remove duplicate values. 

print('Answer: {} Countries'.format(len(country_set))) #used len() to get the number of unique countries in the list

Answer: 25 Countries

**3. How many assessments were conducted in total for all clients, after 31 March 2018?**

Convert the 'assessment_date' column datatype to 'datetime'. If I filter without converting, the assessment_date values will be treated as strings and '>' won't be effective.

Once the date is converted properly, I can filter by date > '31 March 2018' and count the results.

In [120]:
df_copy = df # Creating a copy of the dataframe
df_copy.head()

     client    site country tracc_practice assessment_date  tracc_maturity
0  Client 1  Site 1  Canada             5S       3/10/2016            1.35
1  Client 1  Site 1  Canada             5S       3/15/2016            1.27
2  Client 1  Site 1  Canada             5S       3/18/2016            1.38
3  Client 1  Site 1  Canada             5S       3/25/2016            2.38
4  Client 1  Site 1  Canada             5S       3/29/2016            1.45

In [121]:
df_copy['date_col'] = df_copy['assessment_date'].str.split('/') # Creating a date_col field to split the assessment_date values as month, day, and year
df_copy.head()

,client,site,country,tracc_practice,assessment_date,tracc_maturity,date_col
0,Client 1,Site 1,Canada,5S,3/10/2016,1.35,"[3, 10, 2016]"
1,Client 1,Site 1,Canada,5S,3/15/2016,1.27,"[3, 15, 2016]"
2,Client 1,Site 1,Canada,5S,3/18/2016,1.38,"[3, 18, 2016]"
3,Client 1,Site 1,Canada,5S,3/25/2016,2.38,"[3, 25, 2016]"
4,Client 1,Site 1,Canada,5S,3/29/2016,1.45,"[3, 29, 2016]"

In [122]:
df_copy['month'] = df_copy['date_col'].str[0] # Create a month column
df_copy['day'] = df_copy['date_col'].str[1] # Create a day column
df_copy['year'] = df_copy['date_col'].str[2] # Create a year column

df_copy.head()

,client,site,country,tracc_practice,assessment_date,tracc_maturity,date_col,month,day,year
0,Client 1,Site 1,Canada,5S,3/10/2016,1.35,"[3, 10, 2016]",3,10,2016
1,Client 1,Site 1,Canada,5S,3/15/2016,1.27,"[3, 15, 2016]",3,15,2016
2,Client 1,Site 1,Canada,5S,3/18/2016,1.38,"[3, 18, 2016]",3,18,2016
3,Client 1,Site 1,Canada,5S,3/25/2016,2.38,"[3, 25, 2016]",3,25,2016
4,Client 1,Site 1,Canada,5S,3/29/2016,1.45,"[3, 29, 2016]",3,29,2016

In [123]:
df_copy['date'] = df_copy['month'] +'/'+ df_copy['day'] +'/'+ df_copy['year'] # Add the date values in an order that will be accepted when converting the datatype to DateTime

In [124]:
df_copy['date'] = pd.to_datetime(df_copy['date']) # Converting the 'date' column datatype to DateTime
df_copy.head()

,client,site,country,tracc_practice,assessment_date,tracc_maturity,date_col,month,day,year,date
0,Client 1,Site 1,Canada,5S,3/10/2016,1.35,"[3, 10, 2016]",3,10,2016,2016-03-10
1,Client 1,Site 1,Canada,5S,3/15/2016,1.27,"[3, 15, 2016]",3,15,2016,2016-03-15
2,Client 1,Site 1,Canada,5S,3/18/2016,1.38,"[3, 18, 2016]",3,18,2016,2016-03-18
3,Client 1,Site 1,Canada,5S,3/25/2016,2.38,"[3, 25, 2016]",3,25,2016,2016-03-25
4,Client 1,Site 1,Canada,5S,3/29/2016,1.45,"[3, 29, 2016]",3,29,2016,2016-03-29

In [125]:
df_copy = df_copy.drop(['date_col','day','month','year'], axis=1) # Removing the 'day', 'month', and 'year' columns

In [126]:
df_answer = df_copy[(df_copy['date'] > '2018-03-31')].sort_values(['date']) # Filter to get all values with a date greater than '2018-03-31'

In [127]:
df_answer.info() # To check if the date datatype has changed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2598 entries, 5929 to 6185
Data columns (total 7 columns):
client             2598 non-null object
site               2598 non-null object
country            2598 non-null object
tracc_practice     2598 non-null object
assessment_date    2598 non-null object
tracc_maturity     2598 non-null float64
date               2598 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 162.4+ KB

In [128]:
answer = len(df_answer['assessment_date'].to_list()) # Convert the assessment_date values to a list and get its size

In [129]:
print('Answer: {}'.format(answer))

Answer: 2598

**4. How many unique TRACC practices did Client 48 assess ?**

First get all the data with 'client 48' as client, and then proceed to get the distinct tracc_practice values found

In [130]:
def unique_practice_by_client(client_name, tracc_col):
  #This gets all the data for the specified client
  client_df = (df[df['client'] == client_name])

  #convert the specific column data to a list
  client_list = client_df['tracc_practice'].to_list()

  #use set() to remove duplicate values in the list
  client_set = set(client_list)
  
  #get the size of the unique tracc practices for the specific client
  answer = len(client_set)
  return 'Answer: {} assessed {} unique TRACC Practices'.format(client_name,answer)

In [131]:
unique_practice_by_client('Client 48', 'tracc_practice')

'Answer: Client 48 assessed 4 unique TRACC Practices'

**5. How many assessments were done for each practice in 2017 ?**

Use contains() to get all data with the year = 2017 and get the total assessments for each tracc_practice.

In [132]:
assessment_by_prac = df_copy[df_copy['assessment_date'].str.contains('2017')] # To get all assessments done in 2017
assessment_by_prac.head()

,client,site,country,tracc_practice,assessment_date,tracc_maturity,date
63,Client 1,Site 1,Canada,5S,1/1/2017,2.35,2017-01-01
64,Client 1,Site 1,Canada,5S,1/3/2017,1.56,2017-01-03
65,Client 1,Site 1,Canada,5S,1/5/2017,1.54,2017-01-05
66,Client 1,Site 1,Canada,5S,1/9/2017,2.31,2017-01-09
67,Client 1,Site 1,Canada,5S,1/11/2017,1.84,2017-01-11

In [133]:
assessment_by_prac_size = len(assessment_by_prac['tracc_maturity'].to_list())# Add the tracc_maturity values for 2017 to a list and get its size

In [134]:
print('Answer: {} assessments with breakdown totals of:\n'.format(assessment_by_prac_size))
assessment_by_prac.groupby('tracc_practice').size() # Group the assessments by tracc_practice and size

Answer: 3301 assessments with breakdown totals of:

tracc_practice
5S                             937
Focused Improvement            660
Leading and Managing Change      4
Teamwork                       912
Visual Management              788
dtype: int64

**6. Which clients have achieved a maturity score greater than 2.5, for the 5S and Teamwork practices ?**

The idea is to first get the data for all rows with maturity > 2.5, then filter that data to find all with practices of 5S/Teamwork

In [135]:
df_maturity = df[['client','tracc_practice','tracc_maturity']]

In [136]:
df_maturity = df_maturity[df_maturity['tracc_maturity'] > 2.5] # Get all values with tracc_maturity > 2.5

In [137]:
df_maturity.head()

      client tracc_practice  tracc_maturity
26  Client 1             5S            2.53
45  Client 1             5S            2.86
49  Client 1             5S            2.52
51  Client 1             5S            2.59
52  Client 1             5S            2.68

In [138]:
#Filter by 5S and Teamwork practices
client_by_maturity = df_maturity[(df_maturity['tracc_practice'] == '5S') | (df_maturity['tracc_practice'] == 'teamwork') ]

In [139]:
client_by_maturity.head()

      client tracc_practice  tracc_maturity
26  Client 1             5S            2.53
45  Client 1             5S            2.86
49  Client 1             5S            2.52
51  Client 1             5S            2.59
52  Client 1             5S            2.68

In [140]:
answer = list(set(client_by_maturity['client'].to_list()))

In [141]:
print('Answer: ', answer)

Answer:  ['Client 11', 'Client 32', 'Client 33', 'Client 8', 'Client 28', 'Client 1', 'Client 13', 'Client 48', 'Client 19', 'Client 5', 'Client 21', 'Client 18', 'Client 24', 'Client 44', 'Client 38', 'Client 4', 'Client 26', 'Client 2', 'Client 10', 'Client 6', 'Client 3', 'Client 41', 'Client 31', 'Client 15', 'Client 20']